<mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <p> {{ firstQuestionText }} </p>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <p> {{ secondQuestionText }} </p>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
                <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
            <p> {{ thirdQuestionText }} </p>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="thirdCtrl" required>
            </mat-form-field>
            <div>
                <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step><mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
            <p> {{ fourthQuestionText }} </p>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="fourthCtrl" required>
            </mat-form-field>
            <div>
                <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step><mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup">
            <p> {{ fifthQuestionText }} </p>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="fifthCtrl" required>
            </mat-form-field>
            <div>
                <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step><mat-step [stepControl]="sixthFormGroup">
        <form [formGroup]="sixthFormGroup">
            <p> {{ sixthQuestionText }} </p>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="sixthCtrl" required>
            </mat-form-field>
            <div>
                <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step><mat-step [stepControl]="seventhFormGroup">
        <form [formGroup]="seventhFormGroup">
            <p> {{ seventhQuestionText }} </p>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="seventhCtrl" required>
            </mat-form-field>
            <div>
                <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <p> {{ finalText }} </p>
        <div>
            <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
        </div>
    </mat-step>
</mat-stepper>