::ng-deep { 
    .mat-step-label {
        display: none !important;
    }

    .mat-horizontal-stepper-header .mat-step-icon {
        margin-right: 0 !important;
    }

    .mat-stepper-horizontal-line {
        min-width: 0px !important;
    }

    @media only screen and (max-width: 600px) {
        .mat-step-icon {
            height: 20px !important;
            width: 20px !important;
            font-size: 10px;
        }

        .mat-horizontal-stepper-header {
            padding: 0 18px !important;
        }
    }
}

.btn-next-step {
    float: right;
}

.btn-previous-step {
    float: left;
}

.quest-img {
    display: block;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    button {
        font-size: 12px;
    }
}
