<mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <div [innerHTML]="firstQuestionText"></div>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="firstCtrl" required>
            </mat-form-field>
            <img class="quest-img" src="assets/1.png" alt="">
            <div>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <div [innerHTML]="secondQuestionText"></div>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
                <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
            <div [innerHTML]="thirdQuestionText"></div>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="thirdCtrl" required>
            </mat-form-field>
            <img class="quest-img" src="assets/3.png" alt="">
            <div>
                <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step><mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
            <div [innerHTML]="fourthQuestionText"></div>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="fourthCtrl" required>
            </mat-form-field>
            <div>
                <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step><mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup">
            <div [innerHTML]="fifthQuestionText"></div>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="fifthCtrl" required>
            </mat-form-field>
            <img class="quest-img" src="assets/5_1.png" alt="">
            <img class="quest-img" src="assets/5_2.png" alt="">
            <div>
                <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step><mat-step [stepControl]="sixthFormGroup">
        <form [formGroup]="sixthFormGroup">
            <div [innerHTML]="sixthQuestionText"></div>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="sixthCtrl" required>
            </mat-form-field>
            <img class="quest-img" src="assets/6.png" alt="">
            <div>
                <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step><mat-step [stepControl]="seventhFormGroup">
        <form [formGroup]="seventhFormGroup">
            <div [innerHTML]="seventhQuestionText"></div>
            <mat-form-field appearance="fill">
                <mat-label>Відповідь</mat-label>
                <input matInput formControlName="seventhCtrl" required>
            </mat-form-field>
            <img class="quest-img" src="assets/7_1.png" alt="">
            <img class="quest-img" src="assets/7_2.png" alt="">
            <div>
                <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
                <button mat-stroked-button matStepperNext class="btn-next-step">Погнали далі!</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <div [innerHTML]="eightsQuestionText"></div>
        <img class="quest-img" src="assets/8.png" alt="">
        <div *ngIf="finalBtnClicked" [innerHTML]="finalText"></div>
        <img *ngIf="finalBtnClicked" class="quest-img" src="assets/final.png" alt="">
        <div>
            <button mat-stroked-button matStepperPrevious class="btn-previous-step">Назад</button>
            <button mat-stroked-button class="btn-next-step" (click)="finalBtnClicked = true">Я знаю відвовідь (._.)</button>
        </div>
    </mat-step>
</mat-stepper>